/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { 
  font-family: "Helvetica Neue",Helvetica,Arial,"Meiryo UI", "メイリオ", sans-serif;
  padding-top: 70px;
  padding-bottom: 30px;
}

/* Reset the container for Non-responsive */
.container {
  max-width: none !important;
  width: 870px;
}

.loginform {
	margin: 0px auto;
}

/* =============================== for todo ==================================== */

/*for ui.sortable*/

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

/*for ui.dialog*/

#delete-confirm {display:none;}
#history-confirm {display:none;}

/*for item*/

.item {
	margin: 5px;
	border-bottom: dotted 1px gray;
}

.item:hover {
	background-color:rgb(252, 248, 227);
	border-bottom: solid 1px #dd5600;
}
.itemselected {
	background-color:rgb(252, 248, 227);
}

.completed {
	background-color:#ccc;
}
.completed:hover {
	background-color:#ccc;
}

/*for item's children*/

.item .removeitem {
	float:right;
}

.item .date-created, .item .date-completed {
	float:right;
	margin:auto 3px;
}

.item .textbox {
	color: #333;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.item .textbox:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* =============================== for note ==================================== */

#notepage {
	background-color:#F5F5DC;
	padding:5px;
}
#notepage #NoteCategoryId {
	width:200px;
/*	display:inline;*/
	float:left;
	margin-right:1em;
}
.ui-dialog {
	z-index:1000000 !important;
}

.portlet {
	margin: 0 1em 1em 0;
	position: absolute;
/*	width:200px;*/
}

.portlet-header { cursor: move; }
.ui-icon {cursor:default}

.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }